body{
  background-color: green;
  margin:0
}

/* el margin e pone asi porque el browser trae eso por defecto */

.header{
  background-color: white;
  height: 72px;
  width: 300px;
  display: flex;
  align-items: center;
  margin:0 auto;
  justify-content: center
}

/* etiqueta de linea toma todo el tamano del contenido.
display: flex -> coge todo lo que este dentro de la etiqueta (hijos directos) */
.header nav{
  display: flex;  /* esto es la manera de mostrarla caja que va a soportar el tamano de un contenido*/
  /* align-content: center; */
  width: 100%;
  justify-content: space-around;
}




/* mejor poner colores por hexadecimal, esto se divide en 3 pares donde cada par representa RGB */
