body{
  background-color: green;
  margin:0;
  padding: 0;
}

.header{
  background-color: white;
  height: 72px;
  width: 300px;
  display: flex;
  align-items: center;
  margin:0 auto;
  justify-content: center
}

.header nav{
  display: flex;  
  width: 100%;
  justify-content: space-around;
}

header nav a .link{
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 4px;
}
.profile-background{
  background-image: url("./img/bg.jpg");
  height: 300px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

#presentation{
    background-color: blue;
    border: none;
    font-family: 'Poppins';
    font-size: 14px;
    color: #626262;
    letter-spacing: 0em;
    font-weight: 400;
 }

 
.profile{
  background-color: red;
}

main section{
  background-color:white;
}

#name, #email, #message{
   
}

.profile-buttons{

}

.profile-buttons a:last-child{
    background-color: blue;
}