.Users{}

.photos{
    /* background: green;   */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* 
    align-items: center;
    width: 100%;  */
    /* flex-flow: column wrap;
    flex-grow: 1;
    height: 100%; */
}
.person{
  display: none
}
/* .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
.column {
display: flex;
flex-direction: column;
flex-basis: 100%;
flex: 1;
} */