/* Principal view  */
.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    align-content: space-between; 
      /* flex-flow: row wrap;
    flex-basis: 100%;
    height: 0; */
}

article{
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0px 0 5px 5px #e6e5e9;
  padding-bottom:15px;
  border: 3px solid #AAA8A1; 
}

article div{
  font-weight: bold;
  font-size: 2m;
  text-align: center;
} 

.imgRamdomUser:hover{
  width: 110%;
}

/* Detailed view */
.person{
  display: none
}

.selected{  
  padding: 20px;  
  display: flex;  
  flex-wrap: wrap;    
  border-radius: 3px;
  box-shadow: 0px 0 5px 5px #e6e5e9;
  justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imgSelected{
  padding: 10px;  
  border-radius: 3px;
  border: 3px solid #AAA8A1;  
}

.infoSelected{
  padding: 30px;
}

.returnButton{
  padding: 10px;
  background-color:#1D4FDF; 
  width: auto;
  border: 0px;
  border-radius: 3px;
  cursor: pointer;
  color:white;
  position: relative;
  left: 30px; 
  top: 15px;
}

p:hover{
  font-size: 120%;
}



/* navbar  */
.navOptions{
  display: flex;
  background-color: #1D4FDF;  
  padding: 10px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;
}

nav ul li{
  padding-right: 20px;
  list-style: none;
}

nav a{
  color: white;
  text-decoration: none;
}

nav a:hover{
  font-size: 120%;
}

#navIcon{
width: 200%;
}

/* General structure */
body{
  font-family: Helvetica;
  margin:0;
  padding: 0;
}

h1{
  text-align: center;
}

i{
  width: 20%;
}

